__pycache__/
*.py[cod]
*$py.class
.env/
.venv/
env/
venv/
*.log
tmp/
*.tmp
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db


# data/
# datasets/
# *.h5
# *.npy
# *.npz
# *.pkl
# *.ckpt
# *.pt
# *.pth


# checkpoints/
# runs/
# outputs/
# models/

